*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 220, 245);
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 75%;
    background-color: rgb(182, 228, 243);
    margin: 0 auto;
    padding: 20px;
}
.header-img{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    float: left;
}
.header-name{
    float: left;
    padding: 25px;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(31, 184, 176);
}
.header-contact{
    float: right;
    padding: 25px;
}
.header-contact a{
    color: rgb(42, 194, 186);
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 4px;
}
.header-contact a:hover{
    background-color: rgb(192, 221, 229);
    text-decoration: underline;
    color: rgb(19, 172, 172);
}
.clear-div{
    clear: both;
}
hr{
    
    border: 3px solid rgb(207, 147, 147);
    width: 100%;
    margin: 30px auto 0px;
    border-bottom: none;
}
    /*-------------------
     personal-section
    -------------------*/
    .contect{
        margin-bottom: 30px;
    }
    .left-div{
        width: 30%;
        float: left;
        margin-top: 20px;
    }
    .right-div{
        width: 70%;
        float: left;
        margin-top: 20px;
    }
    .common-hr{
        border: 2px solid rgb(207, 147, 147);
        border-bottom: none;
        width: 100%;
        margin: 20px auto;
    }
    /*-------------------
    education-tamplate-section
    -------------------*/
    .education-template-left{
        float: left;
        width:30% ;
    }
    .education-template-right{
        float: left;
        width: 30%;
    }
    .education-template-center{
        float: left;
        width: 30%;
    }
    /*-------------
     footer-section 
    -------------*/
    .bottom-footer{
        background-color: rgb(175, 250, 250);
        color: rgb(11, 133, 86);
        text-align: center;
        padding: 10px;
    }
    .bottom-footer a{
        text-decoration: none;
        color: rgb(11, 133, 86);
        margin-right: 20px;
    }
    .bottom-footer a:hover{
        color: black;
        background-color: rgb(237, 239, 245);
        border-radius: 3px;
    }